@import "https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css";
/* estilos cards general*/
.body-producto{
	background: #000;
}
.container-producto{
	margin-top: 110px !important;
}
.card{
	border: none;
	outline: none;
	background-color: #fff;
	border-radius: 20px;
	transition: transform .3s;
}
.card:hover{
	transform: translateY(-15px);
	transition: transform .3s;
}
.text1{
	font-size: 13px;
	color: #cbcbcb;
}
.info{
	line-height: 17px;
}
.star{
	color: #fbc02d;
}
/*cadr 1*/
 .cost span{
	 color:  purple;
	 font-weight: bold;
	 font-size: 20px;
 }
 .vestido{
	 background: purple;
 }
 /*cadr 2*/
 .traje span{
	 color:   #78ed1c ;
	 font-weight: bold;
	 font-size: 20px;
}

.traje1{
	background:  #78ed1c ;
}
/* card 3*/
.pareja span{
	color:   #1499ea;
	 font-weight: bold;
	 font-size: 20px; 
}
.pareja1{
	background:  #1499ea;
}
/*general estilos*/
.vestido:hover, .traje1:hover,.pareja1:hover{
	opacity: .8;
}
.cursor{
	cursor: pointer;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
/* propios*/
.card-ropa{
	margin-left: 25px;
	margin-right: 25px;
}
.contenedor-redes{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content:center;
	align-items: center;
}
.header-producto{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content:center;
	margin: 0;
}
.icon-producto{
	justify-content: center;
}
.font-inicio{
	font-weight: bold;
	font-family:cursive;	
}
.contact-form{
	background: rgb(0,0,0, .6);
	color: white;
}
.container-contacto{
	margin-top: 0;
}
.body-formulario{
	background-image: url(img/slide.jpg);
	background-size: cover;
}
hr{
	background: white;
}
.contact-form{
	background: rgb(0,0,0, .6);
	color: white;
	margin-top: 0;
	padding: 20px;
}
.margen-card{
	margin-bottom: 50px;
	margin-top: 10px;
}
/* fonts */
.font-seccion{
	color: blanchedalmond;
	font-weight: bold;
	font-family:cursive;
	padding: 0;	
}
/* seccion vestidos*/
.body-vestidos{
	background: purple;
}
/* seccion trajes */
.body-trajes{
	background: #78ed1c;
}
/* seccion parejas*/
.body-parejas{
	background: #1499ea;
}
/*** ========Bannner============ ***/
.banner{
	position: relative;/*par que se muestre despues da la barra de nava*/
	width: 100%;
	height: calc(100vh - 50px);
	background-color: #F5F5F5;
	background-size: cover;/*tamaño de la img con comprtamiento de portadas*/
	background-position: center;/*posicion imagen*/
	transition: all .1s ease-in-out;
	background-image: url(img/slide.jpg);
	animation: banner 15s infinite linear;/* agregando animacion var durar 28/4 inifinita, linear =simpre la misma velocidad*/  
}
.banner-content{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: #FFF;
	background-color: rgba(0, 22, 40, .3);/*opacity 30%**/	
	display: flex;/*comportamiento flex*/
	flex-direction: column;/*direccion de los hijos*/
	justify-content: center;/* alineacion de los hijos al centro*/
	align-items: center;
}
.banner-content h1{/* h1 se encuentra dentro de la calse*/
	margin:0;
	padding: 0;
	padding-bottom: 30px;
	font-size: 40px;
	text-align: center;
}
.banner-content a{
	text-decoration: none;
	color: #fff;
	padding: 9px 20px;/* 90 arriaba abajo 20 izq derecho*/
	border: 1px solid #fff;/* color de borde botton blanco*/
	text-transform: uppercase;
	transition: all .3s ease-in-out;/*cambio de color suave*/
}
.banner-content a:hover{/*efecto al pasar puntero sobre botn*/
	background-color: #FFF;
	color: #333;;
}
/*Animacion banner*/
@keyframes banner{
	0%{
		background-image: url(img/La_ciudad_de_Xela_de_noche.jpg);
	}40%{
		background-image: url(img/La_ciudad_de_Xela_de_noche.jpg);
	}
	41%{
		background-image: url(img/ficaCafe.jpg);
	}70%{
		background-image: url(img/ficaCafe.jpg);
	}
	71%{
		background-image: url(img/Xelapan1-885x500.jpg);
	}100%{
		background-image: url(img/Xelapan1-885x500.jpg);
	}
}
/***============FIN BANNER======== **/

#img-portada{
	margin-top: 10px;
	margin-bottom: 20px;
}